# This directory should contain the png files listed in /ponies.php
# They are not included for licensing reasons, since they are based on vectors that each have their own license
# (and because those vectors are based on a copyrighted TV show anyway)
